body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #eaf0f2;
    font: normal 21px/1.5 'Open Sans', sans-serif;
    color: #484848;
}

/* Header */

header {
    padding: 5px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 80px;
	background-color: #f8f8f8;
    display: flex;
    align-items: center;
}

header img {
    height: 35px;
    margin-left: 45px;
}

/* Main section */

.locations {
    margin: 20px auto 40px;
}

.locations h1 {
    text-align: center;
    color: #3F71AE;
    font-size: 1.7em;
}

#main {
    position: relative;
    width: 870px;
    padding: 10px;
    background: #dfdfdf;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

#main div > div {
    width: 28%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #94d083;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #bce5b1;
    background: -moz-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bce5b1), color-stop(100%, #c9f2be));
    background: -webkit-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -o-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -ms-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: linear-gradient(to bottom, #bce5b1 0%, #c9f2be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bce5b1', endColorstr='#c9f2be', GradientType=0);
}

#main div > div span {
    color: #4d7e3f;
}

#main div > div p {
    margin: 10px 0px;
    background: #9cd98b;
    color: #e5fcde;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#main button, .submit {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid #40902a 1px;
    background: #66B650;
    background-image: -webkit-linear-gradient(top, #66B650, #40902a );
    background-image: -moz-linear-gradient(top, #66B650, #40902a );
    background-image: -ms-linear-gradient(top, #66B650, #40902a );
    background-image: -o-linear-gradient(top, #66B650, #40902a );
    background-image: linear-gradient(to bottom, #66B650, #40902a );
}

#main button:hover, .submit:hover {
    border: #54b739 1px solid;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    background: #7add5f;
    background-image: -webkit-linear-gradient(top, #7ADD5F, #54b739);
    background-image: -moz-linear-gradient(top, #7ADD5F, #54b739);
    background-image: -ms-linear-gradient(top, #7ADD5F, #54b739);
    background-image: -o-linear-gradient(top, #7ADD5F, #54b739);
    background-image: linear-gradient(to bottom, #7ADD5F, #54b739);
}

/* Tip element */

.tip {
    position: absolute;
    top: 220px;
    right: 8%;
    color: #575d61;
    font-size: 14px;
    line-height: 1.6em;
    z-index:1;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.tip.hidden {
    display: none;
}

.tip.left > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, .15);
}

.tip > .arrow {
    border-width: 11px;
}

.tip.left > .arrow:after {
    left: 1px;
    bottom: -10px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.tip > .arrow:after {
    content: "";
    border-width: 10px;
}

.tip > .arrow,
.tip > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tip .title {
    padding: 8px 14px;
    margin: 0;
    font-size: 16px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.tip .content {
    padding: 9px 14px;
}

/* Modal dialog */

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.5);
}

.popup.show {
    display: flex;
}

.add_place,
.edit_place {
    width: 270px;
    margin:0px auto;
    opacity: 0.9;
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #bce5b1;
    background: -moz-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bce5b1), color-stop(100%, #c9f2be));
    background: -webkit-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -o-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: -ms-linear-gradient(top, #bce5b1 0%, #c9f2be 100%);
    background: linear-gradient(to bottom, #bce5b1 0%, #c9f2be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bce5b1', endColorstr='#c9f2be', GradientType=0);
}

.add_place input,
.edit_place input {
    margin: 10px 0px;
    font-size: 21px;
    text-align: center;
    background: #9cd98b;
    padding: 4px 10px;
    color: #e5fcde;
    border: 0;
    width: calc(100% - 20px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #e5fcde;
}

.add_place span,
.edit_place span {
    color: #4d7e3f;
}

.add_place .close,
.edit_place .close {
    background: none;
    border: 0;
    outline: 0;
    background-image: url(../images/close_icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

.add_place .close:hover,
.edit_place .close:hover {
    opacity: 0.8;
}

/* Context menu */

.context-menu {
    position: absolute;
    width: 100px;
    padding: 2px 5px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    z-index: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    display: none;
    top: 0;
}

.context-menu.show {
    opacity: 0.8;
    display: block;
}

.context-menu button {
    width: calc(100% - 10px);
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.context-menu .btn_edit,
.context-menu .btn_remove {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

.context-menu .btn_edit {
    background: #dddddd;
    border: 1px solid #bdc3c7;
    color: #2a2a2a;
    padding: 3px;
    margin: 5px;
}

.context-menu .btn_remove {
    background: #ffbfaf;
    border: 1px solid #ff7262;
    color: #a70c00;
    padding: 3px;
    margin: 5px 5px 6px;
}

.context-menu .btn_edit:hover {
    background: #eaeaea;
}

.context-menu .btn_remove:hover {
    background: #ffa595;
}

/* Placeholder style */

::-webkit-input-placeholder {
    color: #e5fcde;
}

:-moz-placeholder {
    color: #e5fcde;
    opacity: 1;
}

::-moz-placeholder {
    color: #e5fcde;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #e5fcde;
}

:placeholder-shown {
    color: #e5fcde;
}

/* Media queries */

@media screen and (min-width: 1680px) {
    .locations {
        max-width: 1500px;
        position: relative;
    }
    .tip {
        top: 100px;
        right: 6%;
    }
}

@media screen and (max-width: 1540px) {
    .tip {
        right: 5%;
    }
}

@media screen and (max-width: 1460px) {
    .tip {
        top: 40px;
        right: 20%;
    }
    .tip.left > .arrow {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .tip {
        top: 40px;
        right: 10%;
    }
}

@media screen and (max-width: 980px) {
    #main {
        width: 100%;
        padding: 0;
    }
    #main div > div {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    #main div > div {
        width: 40%;
    }
    .tip {
        right: 5%;
    }
}

@media screen and (max-width: 636px) {
    header img {
        height: 25px;
        margin-left: 15px;
    }
    #main div > div {
        width: 40%;
    }
    .tip {
        top: 15px;
    }
}

@media screen and (max-width: 616px) {
    #main div > div {
        width: 60%;
    }
}

@media screen and (max-width: 470px) {
    header img {
        height: 25px;
        margin-left: 15px;
    }
    #main div > div {
        width: 80%;
    }
    .tip {
        top: 155px;
    }
}